body{
                margin: 0;
                padding: 20px;
                color: white;
                font-family: sans-serif;
            }
            .container{
                height: 100vh;
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
            header{
                height: 10%;
                border-radius: 0.5rem;
                padding: 1rem;
                background-color: #1e90ff;
                box-shadow: 0 2px 7px #0077ea;
            }
            main{
                height: 80%;
                display: flex;
                flex: 1;
                gap: 1rem;
            }
            .mainT{
                height: 70vh;
                width: 70%;
                padding: 1rem;
                border-radius: 0.5rem;
                background-color: #3cb371;
                box-shadow: 0 5px 10px #2f8d59;
            }
            .box{
                display: flex;
                flex-direction: row;
                padding-top: 1rem;
                gap: 1rem;
                flex-wrap: wrap;
            }
            .item{
                width: 22%;
                aspect-ratio: 1 / 1;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                border-radius: 0.5rem;
                background-color: #2f8d59;
                box-shadow: 0 5px 10px #226741;
            }
            .sidebar{
                width: 30%;
                padding: 1rem;
                border-radius: 0.5rem;
                background-color: #ff6347;
                box-shadow: 0 5px 10px #e02200;
            }
            footer{
                height: 10%;
                border-radius: 0.5rem;
                padding: 1rem;
                background-color: #4169e1;
                box-shadow: 0 2px 7px #1d44b8;
            }