body{
        margin: 0;
        padding: 0;
        background: pink;
      }
  
      .container {
        display: flex;
        flex-direction: column;
        margin-left: 10em;
        margin-right: 10em;
        gap: 1em;
        height: 100vh;
        background: greenyellow;
      }

      header,footer {
        flex-grow: 0;
        height: 100px;
        background: grey;
      }

      main {
        flex-grow: 1;
        background: grey;
      }